.admin-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Sidebar */
.admin-sidebar {
  width: 300px;
  background-color: #3f4e4f;
  color: #ecf0f1;
  transition: width 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.admin-sidebar.closed {
  width: 0;
}

.sidebar-header {
  height: 60px;
  background-color: #2c3639;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.sidebar-menu {
  padding-top: 20px;
  flex-grow: 1;
}

.sidebar-menu-item {
  padding: 15px 25px;
  cursor: pointer;
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
  align-items: center;
  transition: background 0.2s;
}

.sidebar-menu-item:hover {
  background-color: #2c3639;
  border-radius: 4px;
}

.sidebar-menu-item.active {
  background-color: #e0dbcf;
  color: #333;
  border-radius: 4px;
  box-shadow: 2px 4px;
}

/* Right content ( Header + Content) */
.admin-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.admin-header {
  height: 60px;
  background-color: #2c3639;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.header-right,
.admin-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: #ccc; /* fallback if have not img */
}

.user-avatar-header {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #e0dbcf;
  margin-left: 10px;
}

.table-avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 15px;
}

/* --- Main Content  --- */
.content-wrapper {
  padding: 30px;
  flex-grow: 1;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-btn {
  background-color: #e0dbcf;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/* Data table */
.admin-table-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  border: 1px solid #e0e0e0;
  padding: 12px 15px;
  text-align: left;
}

.admin-table th {
  background-color: #dcd7c9;
  color: #333;
  width: 220px;
}

.action-btns {
  text-align: center !important;
}

.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.edit-btn {
  margin-right: 20px;
}
.remove-btn {
  color: #e74c3c;
}

.logout-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 12px;
  border-radius: 4px;
  font-size: 13px;
  margin-left: 15px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.logout-btn:hover {
  opacity: 0.8;
}

/* A matte finish covers the entire screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Confirm modal */
.confirm-modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: zoomIn 0.2s ease-out;
}

.modal-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btn-cancel {
  background: #d6d6d6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-confirm {
  background: #e77e72;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-modal {
  width: 90px;
  height: 30px;
}

.btn-modal:hover {
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  filter: saturate(2) brightness(1);
  transition: all 0.5s ease;
}
.btn-modal:active {
  transform: scale(0.95);
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.2),
    inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 1445px) {
  .admin-sidebar {
    display: none;
  }
}
