* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #333;
}

.wrapper {
  background-color: #d1d1d1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-sidebar {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #2c3639;
}

.ant-menu-item-selected {
  box-shadow: 0 4px 6px #000;
}
.ant-table-cell {
  border: 1px solid #000 !important;
}
.ant-table {
  border: 1px solid #000;
}
th.ant-table-cell {
  background-color: #dcd7c9 !important;
}
